.particles-container {
  /* width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; */
  z-index: -20;
}
canvas {
}

.particles {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 0;
  overflow: hidden;
}
